#formulario {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 150;
  top: 0;
  bottom: 0;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#form {
  width: 40%;
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  text-align: center;
  position: sticky;
  z-index: 220;
  left: 30%;
  top: auto;
  
  height: fit-content;
  background-color: #fff;
  overflow: hidden;
}

#form .cerrar {
  width: 7%;
  
  position: absolute;
  z-index: 30;
  right: 3%;
  top: 1%;
  overflow: hidden;
}

#form .cerrar:hover {
  cursor: pointer;
}

#form .cerrar img {
  width: 98%;
  margin-top: 7%;
}

#form .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#form h2 {
  color: #ff7f32;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 40px;
}

#form input,
#form textarea,
#form select {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: #f8f9fa;
  border: 2px solid #d8ddd9;
  color: #283629;
  outline: none;
}

#form .form-text {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#form .form-text a {
  color: #ff7f32;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

#form .btn {
  font-size: 16px;
  color: #f0faf1;
  border: 0;
  border-radius: 25px;
  background-color: #ff7f32;
  box-shadow: rgba(25, 254, 0, 0.4);
  cursor: pointer;
}
#form .btn:hover {
  background-color: #e8722b;
}

@media (max-width: 991px) {
  #formulario {
    padding: 30px;
  }

  #form {
    padding: 50px 30px;
    width: 80%;
    left: 10%;
  }

  #form input {
    padding: 15px;
  }
}

@media (max-width: 600px){
  #formulario {
    padding: 30px 15px;
  }

  #form {
    padding: 50px 30px;
    width: 98%;
    left: 1%;
  }

}
