
/* Aqui empieza el cuerpo */

.cuerpo {
  z-index: 0;
  border-radius: 6px;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 30px 30px 0 30px;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 30px;
}

/* .marco {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 350px;
  box-shadow: 0 0 10px  #ff7f32;
  border: 2px #ff7f32 solid;
  border-radius: 10px;
}

.foto {
  height: 220px;
  border: 1px #ff7f32;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
} */

/* From Uiverse.io by alexruix */ 
.card {
  width: 17.5%;
  min-width: 200px;
  height: auto;
  min-height: 350px;
  max-height: 400px;
  background: #f1f1f1;
  padding: 1.5rem 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
  transition: box-shadow .3s ease, transform .2s ease;
  border-radius: 10px;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 275px;
  max-height: 275px;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 60px;
  background: transparent;
  width: 100%;
  max-height: 200px;
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
  overflow: hidden;
 }

 .card-avatar img{
  width: 100%;
  height: fit-content;
 }
 
 
 /*Card footer*/
 .card-social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 50px;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 30px;
  width: 30px;
  fill: rgb(255, 127, 50);
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 
 /*Text*/
 .card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 5px 30px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
 }
 
 .card:hover .card-info {
  transform: translateY(-5%);
 }
 
 .card:hover .card-social {
  transform: translateY(50%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }



/* Aqui empieza el cuerpo */

@media(max-width: 500px){
  .card {
    width: 75%;
    min-width: 200px;
    height: auto;
    min-height: 350px;
    max-height: 400px;
    background: #f3dfea;
    padding: 2rem 1.5rem;
    margin: 2rem 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
    transition: box-shadow .3s ease, transform .2s ease;
   }
}

